# Node.js
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
alembic.ini

# OS
.DS_Store
Thumbs.db

repomix-backend.md
repomix-frontend.md